.page {
    &-background {
        animation-duration: 0.24s;
        animation-name: page-background;
        animation-timing-function: ease-in;
        opacity: 0.048;
        pointer-events: none;

        @keyframes page-background {
            from {
                opacity: 0;
            }

            to {
                opacity: 0.048;
            }
        }
    }
}